{
  "trailingComma": "all",
  "singleQuote": true,
  "quoteProps": "as-needed",
  "semi": true,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "strict",
  "useTabs": true,
  "tabWidth": 4,
  "printWidth": 100
}